Microsoft.NetCore.TemplateLocator,version=17.4.33402.68.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.x86.Resources,version=17.4.33110.190,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.DiagnosticsHub.Client,version=17.4.33103.184,productarch=neutral,machinearch=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script,version=17.4.33006.217,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.DotNet.ItemTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.arm64,version=17.4.33110.190.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote,version=17.4.33110.190,chip=x64,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.Resources.ARM64,version=17.4.33110.190,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.TargetComposition,version=17.4.33006.217,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.Shared.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord,version=17.4.33110.190,productarch=x64,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.ARM64,version=17.4.33110.190,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.x64,version=17.4.33403.182.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WCF.DiagnosticPack.Msi,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.Resources,version=17.4.33110.190,chip=x64,language=en-US,productarch=neutral,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.arm64,version=17.4.33403.182.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Package.DiagHub.Client,version=17.4.33103.184,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.7.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CoreClr.x86,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.IntelliCode.CSharp,version=1.1.0.2236201.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CoreClr.arm,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.JustInTime.Msi,version=17.4.33006.217,chip=x64,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.ARM,version=17.4.33403.182,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.AssemblyInfo.Wizard,version=17.4.0.2235101,productarch=Neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.ManagedCore,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.ApplicationInsights.Interfaces,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CollectionAgents,version=17.4.33110.190,chip=x64,productarch=neutral,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CollectionAgents,version=17.4.33110.190,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.ManagedCore.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebTools.WSP.FSA,version=17.4.33006.217,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.x86,version=17.4.33403.182.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.Wpf.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebTools.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.ProfilerProxy.Msi.x64,version=15.0.21225.1,chip=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.Shared.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.TargetComposition.Remote,version=17.4.33006.217,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.Winforms,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.Winforms,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.6.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.6.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.arm.Resources,version=17.4.33103.184,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.Editorconfig.Command,version=17.4.0.2235101,productarch=Neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.VC.Ide.Debugger.Concord,version=17.4.33110.190,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.ConnectedServices.Wcf,version=15.0.60930.234,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CoreClr.arm64,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Remote,version=17.4.33006.217,chip=x64,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.DotNet.ProjectTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.WebSiteProjectTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Templates.Editorconfig.SolutionFile.Setup,version=17.4.0.2235101.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Managed.Resources,version=17.4.33027.87,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.ManagedSupport,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.Resources.ARM,version=17.4.33402.68,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.Wpf.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.TestTools.Templates.Managed.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebTools,version=17.4.33006.217,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.Resources.ARM,version=17.4.33110.190,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Managed,version=17.4.33027.239,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.ManagedWeb,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.DbgHelp.Win8,version=17.4.33006.217,chip=x64,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.Resources,version=17.4.33403.182,chip=x64,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Resources,version=17.4.33015.44,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebToolsExtensions,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebToolsExtensions.MSBuild,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.x64,version=17.4.33110.190.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.ARM,version=17.4.33110.190,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.ImmersiveActivateHelper.Msi,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.x86,version=17.4.33110.190.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.x64.Resources,version=17.4.33103.184,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.TargetComposition.Remote,version=17.4.33006.217,chip=x64,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebTools.WSP.FSA.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.ProjectTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Managed.Resources,version=17.4.33110.190,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.JustInTime,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.ItemTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebDeploy.Msi,version=17.4.33402.68,chip=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.DiagnosticsHub,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote,version=17.4.33403.182,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.TargetComposition.Remote.arm64,version=17.4.33006.217,chip=x64,productarch=neutral,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.VSCodeDebuggerHost,version=17.4.60824.2,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.VC.Ide.Debugger,version=17.4.33103.184,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.Azure.Templates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CoreClr.x64,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.ARM64,version=17.4.33403.182,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.DbgHelp.Win8,version=17.4.33006.217,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.7.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.Resources,version=17.4.33403.182,chip=x86,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.BrowserLink.WebLivePreview,version=17.4.51.37770,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Wcf.Msi,version=17.4.33006.217,chip=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.ManagedWeb,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Response.template.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger,version=17.4.33403.182,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.ManagedSupport,version=17.4.33110.190.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.Resources,version=17.4.33110.190,chip=x64,language=en-US,productarch=neutral,machinearch=ARM64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Msi,version=17.4.33006.217,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.Wpf,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.Shared,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.Core.Targeted.ARM64,version=17.4.33402.168,productarch=neutral,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.ApplicationInsights,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.arm,version=17.4.33403.182.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.JustInTime.Msi,version=17.4.33006.217,chip=x64,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.Editorconfig.Wizard.Setup,version=17.4.0.2235101,productarch=Neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.Wpf,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.VC.Ide.Debugger.Resources,version=17.4.33015.44,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.FSharp.VSIX.Templates,version=17.4.0.2251204,productarch=Neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.6.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.arm64.Resources,version=17.4.33110.190,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.ManagedCore,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.MSTestv2.Desktop.UnitTest,version=16.0.28417.2161301.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.Shared,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote,version=17.4.33403.182,chip=x64,productarch=neutral,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote,version=17.4.33403.182,chip=x64,productarch=neutral,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Wcf,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.arm64.Resources,version=17.4.33103.184,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.DiagnosticsHub.Client,version=17.4.33103.184,productarch=neutral,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.VC.Ide.Debugger.Concord.Resources,version=17.4.33110.190,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Wcf.MSBuild,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Managed,version=17.4.33110.190,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.x64.Resources,version=17.4.33110.190,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote.Resources,version=17.4.33110.190,chip=x86,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WCF,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.WebTools.DotNet.Core.ItemTemplates,version=17.4.7.17405,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.BrokeredServices,version=17.4.0.2247001.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Parallel,version=17.4.33103.184,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.MSTestv2.Desktop.UnitTest,version=16.0.28417.2161301.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WebDeploy.Msi,version=17.4.33402.68,chip=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.NetCore.Templates.7.0.7.0.103-servicing.23080.5,version=17.4.33402.68,machinearch=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Parallel.Resources,version=17.4.33103.184,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.VsDbg.Integration,version=17.3.10517.1.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.JustInTime.Msi,version=17.4.33006.217,chip=x86,machinearch=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.OneCore.x86.Resources,version=17.4.33103.184,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.DiagnosticsHub.Client,version=17.4.33103.184,productarch=neutral,machinearch=arm64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Msi,version=17.4.33006.217,machinearch=x86.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Remote.Resources,version=17.4.33015.44,chip=x86,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.CollectorCab,version=17.4.33403.182,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.ProfilerProxy.Msi,version=15.0.21225.1,chip=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.DbgHelp.Win8,version=17.4.33006.217,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.Core.Concord,version=17.4.33110.190,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.arm.Resources,version=17.4.33110.190,language=en-US.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.EdgeDriverTest,version=16.0.28417.2161301.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.VB.ManagedWeb.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.AzureAttach,version=17.4.33006.217.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Remote.Resources,version=17.4.33015.44,chip=x64,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.EdgeDriverTestCore,version=16.0.28417.2161301.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Resources,version=17.4.33110.190,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.TemplateEngine,version=17.4.337.25083,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.ManagedWeb.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.ManagedWeb.Shared,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.Core,version=17.4.33403.182,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.CollectionAgents,version=17.4.33110.190,chip=x64,productarch=neutral,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote,version=17.4.33110.190,chip=x64,productarch=neutral,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.Shared,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.Remote,version=17.4.33110.190,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Wcf.Msi,version=17.4.33006.217,chip=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.IntelliCode,version=2.2.2404.47108.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Remote.Resources.ARM64,version=17.4.33402.71,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Resources,version=17.4.33403.182,language=en-US,productarch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Script.Remote,version=17.4.33006.217,chip=x86,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Templates.CS.ManagedCore.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.TestTools.Templates.Managed,version=17.4.33006.217,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.IntelliTrace.Core.Targeted,version=17.4.33402.168,chip=x64,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord,version=17.4.33110.190,productarch=x64,machinearch=x64.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.Debugger.Concord.OneCore.arm,version=17.4.33110.190.zip filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualStudio.WCF.Resources,version=17.4.33006.217,language=en-US,productarch=neutral.zip filter=lfs diff=lfs merge=lfs -text
